@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './base.css';

@media (max-width: 1920px){

  #app {
    max-width: 1920px;
    max-height: 1080px;
    letter-spacing: 0.07em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
  }

  a {
    text-decoration: none;
    color: #aec6cf;
    transition: 0.4s;
  }

  .encompass {
    margin: auto;
    max-width: 75%;
    color: rgb(224, 224, 224);
  }


  /* -------Hero Section-------  */

  .hero-section{
    padding-top: 16rem;
    padding-bottom: 10rem;
  }

  .header {
    font-size: 30px;
  }

  .big-heading, .small-heading, .build, .random-text, .kevin {
    font-weight: 600;
  }

  .period {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
  }

  .main-desc {
    padding-top: 3rem;
    max-width: 65%;
    font-size: 20px;
    color: rgb(165, 165, 165);
  }

  .linkedin {
    border:#ffff00;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5rem;
    margin-top: 3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding: 1rem;
    font-size: 16px;
    background-color: transparent;
    color: rgb(224, 224, 224);
    opacity: 80%;
  }

  .build {
    position: relative;
    z-index: 1;
    text-decoration: none;
  }
  .build::before {
    background-color: yellow;
    position: absolute;
    content: "";
    height: 50px;
    width: 90%;
    z-index: 1;
    bottom: 0;
    transform: translate(-14px, 2px);
    opacity: 70%;
    margin-left: 10px;
  }

  .body {
    background-color: #181818;
  }

  @media (hover: hover){
    .linkedin:hover, .coffee:hover, .talk-button:hover{
      color: rgb(90, 90, 90);
      background-color: yellow;
      transition: 0.3s;
      cursor: pointer;
    }
    .kevin:hover {
      transition: 0.3s;
      color: yellow;
    }
    .kevin:after {
      content: '';
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: yellow;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
      position: absolute;
    }

      .kevin:hover::after {
        transform: scaleX(1);
      }
    }

  /* -------About Section------- */
  
  .about-subtitle {
    text-align: right;
    width: 180px;
    display: inline-block;
    margin-left: 20rem;
  }

  .about-desc {
    padding-top: 4rem;
    width:90%;
    font-size: 20px;
    color: rgb(165, 165, 165);
    float: right;
  }

  .about-wrapper {
    text-align: right;
  }

  .about{
    display:flex;
    text-align: right;
    justify-content: flex-end;
  }
  
  .coffee {
    border:#ffff00;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5rem;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding: 1rem;
    font-size: 16px;
    background-color: transparent;
    color: rgb(224, 224, 224);
    opacity: 80%;
    margin-left: 400px;
    float: right;
  }

  /* -------Projects Sections------- */
  .proj-subtitle {
    margin-top: 15rem;
  }

  .proj-desc {
    max-width: 80%;
    margin-top: 2rem;
    font-size: 20px;
    color: rgb(165, 165, 165);
  }

  .snorlax {
    width: 75px;
    filter: invert(96%) sepia(25%) saturate(7498%) hue-rotate(356deg) brightness(108%) contrast(103%);
    opacity: 70%;
    padding-top: 3rem;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
  }

  .project-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 2rem;
    cursor: pointer;

  }

  .item1, .item2, .item3, .item4 {
    margin: auto;
    text-align: center;
  }

  .snorlax:hover{
    width: 90px;
  }


  /* -------Cool Stuff Section------- */

  .cool {
    text-align: right;
  }

  .cool-subtitle {
    margin-top: 9rem;
  }

  .cool-desc {
    padding-top: 2rem;
    padding-bottom: 0rem;
    text-align: right;
    max-width:65%;
    font-size: 20px;
    color: rgb(165, 165, 165);
    float: right;
  }

  /* -------Let's Hang Section------- */

  .talk {
    margin-top: 15rem;
    text-align: right;
  }

  .talk-desc {
    padding-top: 2rem;
    max-width:65%;
    font-size: 20px;
    color: rgb(165, 165, 165);
    float: right;
  }

  .talk-button {
    border:#ffff00;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5rem;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding: 1rem;
    font-size: 16px;
    background-color: transparent;
    color: rgb(224, 224, 224);
    opacity: 80%;
    margin-left: 400px;
    float: right;
    margin-bottom: 2rem;
  }

  .talk-subtitle {
    margin-top: 10rem;
  }

  .hidden {
    opacity: 0;
    transition: all 1s;
  }

  .show {
    opacity: 1;
  }

  .me-container {
    justify-content: center;
    padding: 1rem;
    display: flex;
    margin: auto;
  }

  .me {
    clip-path: circle();
    width: 350px;
    height: 350px;
    box-shadow: black;
    display: block;
    opacity: 70%;
  }

  .me:hover {
    transition: 0.3s;
    opacity: 100%;
    transform: translate(5px, 5px); 
  }
}

@media screen and (max-width: 1096px) {
  .me-container {
    display: none;
  }

  #app {
    font-size: 12px;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes animateBg {
  0%, 100%
  {
      transform: scale(1);
  }
  50%
  {
      transform: scale(1.2);
  }
}

body {
  overflow-x: hidden;
}
.span {
  position: fixed;
  width: 4px;
  height: 4px; 
  background: #fff;
  border-radius: 50%;
  animation: animate 3s linear infinite;
}

.span::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 250px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
  0%
  {
      transform: rotate(315deg) translateX(0);
  }
  70%
  {
      opacity: 0.1;
  }
  100%
  {
      transform: rotate(315deg) translateX(-1000px);
      opacity: 0;
  }
}

.span:nth-child(1)
{
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}

.span:nth-child(2)
{
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.span:nth-child(3)
{
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

.span:nth-child(4)
{
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}

.span:nth-child(5)
{
  top: 0px;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}

.span:nth-child(6)
{
  top: 0px;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
.span:nth-child(7)
{
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}
.span:nth-child(8)
{
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
.span:nth-child(9)
{
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
} 

/* For Mobile */

@media screen and (max-width: 1096px) {
  .small-heading, .big-heading {
    font-size: 36px;
  }
  
  .period {
    font-size: 80px;
  }

  .build::before {
    height: 30px;
  }

  .about-desc {
    padding-top: 3rem;
    max-width: 65%;
    font-size: 20px;
    color: rgb(165, 165, 165);
  }

  .coffee {
    border:#ffff00;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5rem;
    margin-top: 3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding: 1rem;
    font-size: 16px;
    background-color: transparent;
    color: rgb(224, 224, 224);
    opacity: 80%;
  }

  .about-wrapper {
    text-align: right;
  }
}

.warning {
  font-size: 14px;
  color:rgb(119, 119, 119);
}